transformers>=4.37.0
datasets>=2.17.0
unsloth>=0.0.16
torch==2.5.1
wandb
bitsandbytes
accelerate
xformers>=0.0.30 
peft
trl
triton
cut_cross_entropy
unsloth_zoo
sentencepiece
protobuf
huggingface_hub
hf_transfer